@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Urbanist:wght@400;500;600&display=swap");

* {
    box-sizing: border-box;
}
body {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(13, 22, 36, 1) 50%, rgba(0, 0, 0, 1) 100%);

    margin: 0;
    padding: 0;
}
a::selection {
    background: rgb(46, 1, 65);
    color: rgb(237, 237, 237);
}

span::selection {
    background: rgb(38, 4, 53);
    color: rgb(237, 237, 237);
}
