---
import Layout from '../layouts/Layout.astro'
import '../styles/global.css'
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>i'm here</title>
    </head>

    <Layout>
        <main id="block" class="block main">
            <span class="title">adil satiev</span>
            <a class="mail" href="mailto:adil@satiev.ru">mail me</a>
            <a class="projects" href="/projects"> my projects</a>
            <a class="telegram" href="http://t.me/theabsolutemadman">telegram</a>
            <a class="inst" href="http://instagram/65i116">inst</a>
            <div class="cv_wrapper">
                <a class="cv" href="#">cv</a>
                <div class="arrow">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </main>
    </Layout>

    <style style="scss">
        a {
            color: rgb(0, 0, 0);
            text-decoration: none;
            margin: 10px 0;
        }
        a {
            box-sizing: border-box;
            font-family: 'Abril Fatface', cursive;
        }

        .main {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background: rgb(237, 237, 237);
            border-radius: 1rem;
            font-size: 3.5rem;
            box-shadow: 0px 0px 46px 22px rgba(216, 230, 241, 0.2);
            padding: 2rem 2rem;
            text-align: center;
            margin: 1rem;
            .title {
                font-size: 1.5rem;
                font-family: 'Urbanist';
                font-weight: 600;
            }
            .cv_wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
            }
        }

        .arrow {
            position: absolute;
            display: flex;
            left: 70px;
            bottom: 35px;
        }
        .arrow span {
            display: block;
            width: 10px;
            height: 10px;
            border-bottom: 3px solid #000000;
            border-left: 3px solid #000000;
            margin: -1.5px;
            animation: arrow-left 2s infinite;
        }

        .arrow span:nth-child(2) {
            animation-delay: -0.1s;
        }
        .arrow span:nth-child(3) {
            animation-delay: -0.2s;
        }
        @keyframes arrow-left {
            0% {
                opacity: 0;
                transform: rotate(45deg) translate(-0px, -0px);
            }
            50% {
                opacity: 1;
            }
            100% {
                opacity: 0;
                transform: rotate(45deg) translate(0px, 0px);
            }
        }
    </style>
</html>
