---
import '../styles/global.css'
---

<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600&display=swap" rel="stylesheet" />

<div class="container">
    <main class="main">
        <span class="projects_title">my projects</span>
        <div class="projects_container">
            <div class="projects_section">
                <a href="/" class="project card_1">hello</a>
                <a href="/" class="project card_2">hello</a>
            </div>

            <div class="projects_section">
                <a href="/" class="project card_1">hello</a>
                <a href="/" class="project card_2">hello</a>
            </div>
        </div>
        <a class="back" href="/">go back</a>
    </main>
</div>

<style>
    .main {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-shrink: 2;
        background: rgb(237, 237, 237);
        border-radius: 1rem;
        box-shadow: 0px 0px 46px 22px rgba(216, 230, 241, 0.2);
        padding: 3rem 2rem;
        overflow-y: scroll;
        height: 570px;

        margin: 1rem;
    }
    .main::-webkit-scrollbar {
        display: none;
    }
    .projects_title {
        font-size: 2rem;
        font-family: 'Abril Fatface';
        margin-top: 3px;
        margin-bottom: 20px;
    }
    .back {
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-family: 'Abril Fatface';
        margin-top: auto;
    }
    .project {
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        color: rgb(0, 0, 0);
        text-decoration: none;
        margin: 0 1.5rem;
        font-family: 'Urbanist';
        height: 100px;
    }
    .projects_container {
        display: flex;
        flex-direction: column;
    }

    .projects_section {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .project {
        background: white;
        padding: 1rem 5rem;
        border-radius: 10px;
        font-family: 'Urbanist';
        font-weight: 600;
        font-size: 4rem;
    }
</style>
